/* 
    Document   : gray
    Created on : Oct 9, 2013, 7:29:31 PM
    Author     : nevche
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.orange { color: orange; }

.red { color: red; }
